.navbar-brand img{
    position: relative;
    margin-top: -12px;
    margin-left: -12px;

}

.mapArea{
    overflow: auto;
    max-height: 200px;
}

.loading img{
    max-width: 300px;
}

.carousel slide {
    position: relative;
    
}

.outerPanel {
    position: relative;
    margin-top: -25px;
}

.navbar-default{
    background-color: #11a69a;
    border-color: #11a69a;
}

.outerPanel{
    background-color: #fdef1d;
    border-color: #fdef1d;
}

.firstPanel{
    position: relative;
    border: solid 1px #11a69a;
}

.wordPanel{
    background-color: #fdef1d;
}

.secondPanel{
    position: relative;
    border: solid 1px #11a69a;
    
}

.jumbotron{
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 15px;
}

.margin-top-15{
    margin-top: 15px;
}

.margin-top-12{
    margin-top: 12px;
}

.privateInformationArea{
    overflow-y: auto;
    max-height: 100px;

}

.bodyPanel{
    margin-top: -5px;
    background-color: #b4ddcc;
}

.margin-bottom-0{
    margin-bottom: 0px;
}

.margin-bottom-12{
	margin-bottom:12px;
}

.margin-0{
    margin: 0px, 0px, 0px, 0px;
}

.padding-0{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.padding-left-12{
	padding-left:12px;
}

.customTitlePanel{
    margin-top: 0px;
    padding-left: 0px;
    border-top-width: 15px;
}

.margin-topBottom-0{
    margin-top: 0px;
    margin-bottom: 0px;
}

.margin-topBottom-15{
    margin-top: 15px;
    margin-bottom: 15px;
}

#shipped, #warehouseArrived, #destination{
    display: inline-block;
}

.progressBox{
    display: inline-block;
    margin-top: 5px;
    background-color: aqua;
    border-color: black;
    height: 15px;
    width: 15px;
}

.outerProgressBox{
	width : auto;
}

.innerProgressBox{
    position: relative;
    top: 20%;
    left: 50%;
    margin-left: -150px;
}

.deliveryPanel{
    height: auto;
}

.imgBox{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px inset #ddd;
}

.arrowBox{
    width: 40px;
    height: 40px;
}

.progressImg{
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -17px;
}

.progressImg2{
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -17px;
    margin-left: -17px;
}

.imgGroup{
	width:40px;
    display: inline-block;
}

.deliveryStatus{
    width: 40px;
    text-align: center;
}

.baggageImgBox{
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.baggageIngBoxWrap{
    width: auto;
    height: 200px;
}

.tilePadding{
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.padding-top-12{
	padding-top:12px;
}

.buttonCss{
	float:right;
}

.newOrderBtn{
	width: 70%;
	border: 1px solid #ddd;
	background-color : #e6fff9;
}

.orderTrackingBtn{
	width: 70%;
	border: 1px solid #ddd;
	background-color : #ffffe6;
}

.padding-right-0{
	padding-right:0px;
}

.padding-top-12{
	padding-top:12px;
}

