<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no" charset="utf-8">
        <!-- 합쳐지고 최소화된 최신 CSS -->
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/common.css' %}">
		<script src="{% static 'js/jquery-3.1.0.slim.min.js' %}" ></script>
        <script type="text/javascript">
        	$(document).ready(function(){
        		//
        		$("#makNewOrderBtn").click(function(){
        			location.href =
        		})
        	})
        </script>
    </head>
    <body>
        
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              
              <a class="navbar-brand" href="#">
                <img src="{% static 'img/seoulLightLogo.png' %}">    
              </a>
            </div>

          </div><!-- /.container-fluid -->
        </nav>
        
        <div class="container-fluid">
            <div class="panel panel-body padding-0 margin-bottom-0">
                <form class="form-horizontal">
                	<input type="hidden" id="deliveryStatus" value="{{orderStatus}}" />
                    <div class="panel panel-default margin-topBottom-15">
                        <div class="panel panel-heading margin-topBottom-0">
                            <strong>서비스를 선택해주세요</strong>
                        </div>
                    </div>
                    
                    <div class="panel panel-default deliveryPanel margin-bottom-0 col-sm-12">
                        
                        <div class="col-sm-12 text-center">
		                    <button type="button" class="btn btn-primary btn-lg" id="makNewOrderBtn"> 신규 배송</button>
		                </div>
		                
		                <div class="col-sm-12 text-center margin-top-15">
		                    <button type="button" class="btn btn-primary btn-lg" id="showOrderList"> 배송 추적</button>
		                </div>
                    
                    </div>
                    
                </form>
            </div>
        </div>
      
    </body>
</html>