<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.css">
        
        <link rel="stylesheet" href="../resources/css/common.css">
        
        <!--jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="../resources/bootstrap/js/bootstrap.js"></script>
        <script src="../resources/js/selectFunction.js"></script>
        
    </head>
    <body>
        
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              
              <a class="navbar-brand" href="#">
                <img src="../resources/img/seoulLightLogo.png">    
              </a>
            </div>

          </div><!-- /.container-fluid -->
        </nav>
        
        <div class="container-fluid">
        
            <div class="panel panel-body bodyPanel panel-default col-sm-12">
                
                <div class="panel panel-default col-sm-12 wordPanel">
                    <h3 class="text-center">서비스를 선택해주세요.</h3>
                </div>
                
                <div class="col-sm-12 text-center">
                    <button type="button" class="btn btn-primary btn-lg" id="makNewOrderBtn"> 신규 배송</button>
                </div>
                
                <div class="col-sm-12 text-center margin-top-15">
                    <button type="button" class="btn btn-primary btn-lg"> 배송 추적</button>
                </div>
            
            </div>  
        
        </div>
      
    </body>
</html>